/* --- Dropdowns --- */
/* specific background color, text black, alignment given in dash code */
.dropdown-menu {
    background-color: #E1DFD6;
    color: black; 
}

/* add media part being clickable on mobile; hover nested dropdown*/
@media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* --- SVG images, see dashAgGrid js file --- */
/* @namespace url(http://www.w3.org/2000/svg);  */



