/* --- Dropdowns --- */

/* specific background color, text black, alignment given in dash code */
.dropdown-menu {
    background-color: #E1DFD6;
    color: black; 
}

/* add media part being clickable on mobile */
@media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
